main {
   display: grid;
   grid-template-columns: 1fr 1fr;

   #slider img {
      width: 80%;
   }

   #formInputs {
      .title {
         display: flex;
         justify-content: flex-end;
         margin: 3rem 6rem;
         font-family : 'Avenir Black', sans-serif;
         font-size: 1.4rem;
      }
   }
}