main {
   display: grid;
   grid-template-columns: 1fr 1fr;

   #slider {
      background-color: #A9C5BA;
      height: 100vh;
      
      .slide {
         img {
            width: 65%;
            margin: 4rem auto 2rem auto;
            display: flex;
         }   

         div {
            text-align: center;
            padding: 0rem 6rem;
            color: white;

            h4 { 
               font-size: 1.5rem;
               font-weight: 200;
               margin-bottom: .8rem;
            }

            p {
               font-weight: 200;
            }
         }
      }
   }

   #formInputs {
      .title {
         display: flex;
         justify-content: flex-end;
         margin: 3rem 6rem;
         font-family : 'Avenir Black', sans-serif;
         font-size: 1.4rem;
      }
   }
}

.carousel-dots li {
   margin: 0 .1rem;
}

.carousel-dots-active {
   background-color: white;
   border-radius: 2rem;
   width: 1.3rem !important;
   height: .6rem !important;
   vertical-align: sub;

   button::before, button:hover:before, button:focus:before {
      opacity: 0 !important;
  }
}